body {
    background-color: #37474F;
    font-family: 'Oxygen', sans-serif;
    }

p {
    color: white;
    font-size: 100%;
    margin-left: 40px;
    padding-left: 10px;
    }
    
h1 {
    color: white;
    text-align: center
    font-size: 50pt;
    margin-left: 40px;
    padding-left: 10px;
    
    }

.copyright-notice {
    font-size: 0.8em;
    color: white;
}

.indent {
    font-size: 0.8em;
    color: white;
    font-style: normal;
    border-left: 2px solid white;
    margin-left: 40px;
    padding-left: 10px;
}

/* Navagation Stuff 

nav ul {
    list-style: none;
}

nav ul li {
    font-family: "Oxygen" , sans-serif;
    color: white;
    float: left;
    width: 10%;
    text-align: center;
}

nav ul li ul {
    visibility: hidden;
    position: absolute;
}

nav ul li ul li {
    float: none;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

nav ul li:hover > ul {
    color: white;
    visibility:visible;
}

*/
