#body { /* Body resized */
width: 100%;
height: 100%;
overflow: hidden;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
	height: 200px;
}

body /* Main body of website */ {
    
    background-color: #2196F3;
    font-family: 'Oxygen', sans-serif;
    Padding-bottom: 75px;
    Padding-top: 75px;
    }


p /* Paragraph */ {
    color: #FAFAFA;
    font-size: 100%;
    float: center;
    }
    
h1 /* Heading 1 */ {
    color: #FAFAFA;
    font-size: 50pt;
    float: center;
    
    }

h.hidden , p.hidden, h2.hidden /* Hiding elements */ {
    display: none;
}
    
a /* Link */ {
    color: lightblue;
    font-style: normal;
    text-decoration: underline;
    float: center;
}

.copyright-notice {
    font-size: 0.8em;
    color: white;
}






/* Navagation Stuff */

ul#list-nav {
  margin:0px;
  padding:0;
  list-style:none;
  width:500px;
}

#list-nav li {
    display:inline
}

#list-nav li a {
 text-decoration:none;
 padding:7px ;
 width:150px;
 background:none;
 color:#FAFAFA;
 
}