<!DOCTYPE html>

<html class="home-page" lang="en">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Web Design Student personal Portfolio for Joe Parkes">
        <meta name="keywords" content="joeparkes, joe, parkes, coventry, joeparkes.me, joeparkes.com">
        <meta name="author" content="Joe Parkes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="max-age=200" />
        
        
        <!-- Links / CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="../static/CSS/Website.CSS" />
        
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>  
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
       
       
        <!-- Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="../static/site.js"></script>
        
        <script type="text/javascript">
          <!--
          if (screen.width <= 699) {
          document.location = "mobile.html";
         }
           //-->
</script>
        
       
        
        <title> Joe Parkes </title>

    </head>
   
   <body class="mainpage">
    
    <!--
    <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Update!</strong> The Site is currently down as we update the site, sorry
  </div>
    -->
    
    <center class="auto">
  <a href="home.html" >
   <img src="../static/Images/logo40.png" class="auto" height="600" width="600"></a>
   
   
   </center>
    </div>
    <div>
     
     <a href="home.html" >
   <img src="../static/Images/enter1.png" id="locator" height="200" width="200"></a>
     
     
    </div>
    
    
    </body>

    
</html>
